body
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30vh 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header
{
  background: #683817;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}

.logo
{
  right: 50%;
}

header .logo
{
  position: relative;
  max-width: 220px;
}

header ul
{
  position: relative;
  display: flex;  

}

header ul li
{
   list-style: none;
   filter: invert(1); 
}

header ul li a
{
  display: inline-block;
  color: #333;
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;
}

.dropdown-menu .dropdown-item 
{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-left: 0%;
  padding: 9%;
  font-size: 12px;
}

.dropdown-menu .dropdown-item:hover
{
  background-color: #ffcca075;
  color: #ffffff;
}

footer
{
    background: #683817;
    min-height: 10vh;
}

.sci
{
  right: 2%;
  position: absolute;
  top:111%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.sci li
{
  list-style: none;
}

.sci li a
{
  display: inline-block;
  margin: 2px 0;
  transform: scale(0.6);
  filter: invert(1);
  
}

.sci li img
{
  max-width: 40px;
}

.logo
{
  right: 50%;
}

footer .logo
{
  position: flex;
  max-width: 150px;
}

footer p
{
font-family: 'Poppins', sans-serif;
color: white;
position: relative;
left: 27.5%;
}

.descripcion p
{
    color: black;
    font-family: 'Poppins', sans-serif;
    position: inherit;
    right: 18%;
    margin-top: 10%;
    font-weight: 100;
    font-size: 17px;

}

.fondotex
{
    background-size: cover;
}